body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

  .info {
    padding: 10px;
    background: white; /* White background for legend */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0,0,0,0.65); /* Shadow for better visibility */
  }
  .legend i {
    width: 20px; /* Fixed width for colored squares */
    height: 20px; /* Fixed height for colored squares */
    display: inline-block; /* Display as inline block */
    margin-right: 8px; /* Space between square and text */
  }

